@import "../../../components/CSSmethods/vendor.styl"


THEME = lighten(#00AFE3, 25%)
BASE  = #2f2f2f
COLOR = #fff

DANGER              = #e74c3c
SUCCESS             = #2ecc71
WARNING             = #edba22

ARTICLE = darken(BASE, 45%)

body
  background: BASE
  color: COLOR

  & button
    color: BASE
    background-color: darken(COLOR, 25%)
    &:hover, &:active
      background-color: COLOR

  & > section
    & button[data-action="remove_column"]
      background-color: ARTICLE

    & article
      background-color: ARTICLE
      border-top: solid 0.2em ARTICLE
    & footer
      background-color: darken(ARTICLE, 15%)
      color: lighten(BASE, 50%)


nav[data-control=files]
  & a
    &:not(.active)
      color: lighten(BASE, 55%)
    &.active
      background-color: ARTICLE
      color: THEME
    &:not(.active)
      &:hover, &:active
        color: COLOR


nav[data-control=resources]
  font-weight: bold
  & span
    color: lighten(BASE, 50%)
    &:active
      // background-color: lighten(BASE, 10%) !important
      color: THEME

  & abbr, span
    &:not(.active)
      &:hover, &:active
        background-color: lighten(BASE, 5%) !important


.ace_scrollbar
  width: 4px !important
  background-color: ARTICLE

.ace-monokai
  background: none !important
.ace_gutter, .ace_scroller
  background: ARTICLE !important
.ace_gutter-active-line, .ace_active-line
  background: rgba(255,255,255,0.05) !important
.ace_print-margin, .ace_gutter
  border-right: dotted 1px BASE !important
.ace_print-margin
  background: none !important
