!!! 5
html
  head
    meta(charset='utf-8')
    title Rootco.de
    meta(name='description', content='')
    meta(name='author', content='Javier Jiménez Villar (@soyjavi)')
    meta(name='HandheldFriendly', content='True')
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='cleartype', content='on')

    link(rel='stylesheet', href='stylesheets/rootcode.0.0.2.css')
    link(rel='stylesheet', href='stylesheets/rootcode.theme.flatland.css')

  body#ide
    aside
      header
        strong .\rootco.de
      nav(data-control="resources")
      //- footer footer for test

    script(src='ace/ace.js')
    script(src='ace/keybinding-emacs.js')
    script(src='javascripts/rootcode.components.js')
    script(src='javascripts/rootcode.0.0.2.js')
