!!! 5
html
  head
    meta(charset='utf-8')
    title Rootco.de
    meta(name='description', content='')
    meta(name='author', content='Javier Jiménez Villar (@soyjavi)')
    meta(name='HandheldFriendly', content='True')
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='cleartype', content='on')

    link(rel='stylesheet', href='stylesheets/rootcode.0.0.1.css')
    link(rel='stylesheet', href='stylesheets/rootcode.theme.flatland.css')
  body#ide

    //- ASIDE
    aside
      header
        strong .\rootco.de

      nav(data-control="tree")

        //- abbr rootco.de
        //- nav
        //-   abbr components
        //-   nav
        //-     abbr CSSmethods
        //-   nav
        //-     abbr device.js
        //-   nav
        //-     abbr hope
        //-   nav
        //-     abbr monocle
        //-   nav
        //-     abbr quojs
        //-   span README.md
        //-   span gruntfile.coffee

        //- span .gitignore
        //- span gruntfile.coffee
        //- span.active package.json
        //- span README.md

      div(data-control="fileDrop")
        span drag a proyect here

      footer footer for test

    //- COLUMN-1
    section
      header
        button(data-action="aside") .\
        nav(data-control="files")
          a.active(href="#") instructions.md
      article#col-1.first click here to toggle aside

    //- //- COLUMN-2
    //- section.active
    //-   header
    //-     nav(data-control="files")
    //-       a(href="#") .gitignore
    //-       a.unsaved(href="#") gruntfile.coffee
    //-       a.active(href="#") pair.coffee
    //-         img.avatar.speaking(src="images/inigo.jpg")
    //-         img.avatar(src="images/ina.jpg")
    //-       a(href="#") package.json
    //-   article#col-2.
    //-     sum = (a, b) -> a + b

    //-   footer. INSERT MODE, line 71, Column 32

    //- //- COLUMN-3
    //- section
    //-   header
    //-     nav(data-control="files")
    //-       a.active.unsaved(href="#") style.styl

    //-   article#col-3.
    //-     body
    //-       font-family: "Helvetica Neue"



    script(src='ace/ace.js')
    script(src='ace/keybinding-emacs.js')
    script(src='javascripts/rootcode.components.js')
    script(src='javascripts/rootcode.0.0.1.js')
