nav[data-control="files"]
  display: inline-block
  & a
    display: block
    float: left
    padding: 0 0.85em
    height: HEADER_HEIGHT
    font-weight: bold
    transition color 300ms

    &:not(.active)
      font-size: FONT_TINY

    &.unsaved
      padding-right: 1.7em
      position: relative
      &:after
        content: "·"
        position: absolute
        right: 0.2em
        top: -0.05em
        font-size: 2.5em

    & .avatar
      float: left
      display: inline-block
      height: SIZE = (HEADER_HEIGHT - 8)
      width: SIZE
      background-size: cover
      margin: 4px 0.6em 0 -0.3em
      // opacity: 0.5
      // &.speaking
      //   opacity: 1


nav[data-control="resources"]
  padding: 0 0 0.75em 0.75em
  font-size: 0.85em
  overflow: auto
  vendor(user-select, none)
  cursor: default
  & nav
    padding-left: 1em
    &.collapsed
      display: none

  // &:hover
  //   background-color: rgba(0,0,0,0.25)
  //   position: relative
  //   & nav, span
  //     opacity: 0.5
  //   &:after
  //     content: "Drag a file or folder"
  //     position: absolute
  //     display: block
  //     top: 47.5%
  //     width: 75%
  //     margin-left: 10%
  //     font-size: 1.25em
  //     font-weight: 900
  //     line-height: 2.0em
  //     text-align: center
  //     background-color: rgba(0,0,0,0.5)
  //     border-radius 0.2em

  & abbr, & span
    display: block
  & abbr
    font-weight: bold
  // & span
  //   text-indent: 0.25em
  //   margin-left: 0.75em


div[data-control=fileDrop]
  text-align: center
  background-color: #333
  height: 100px
  border: 5px dashed white
  border-radius: 10px
  & span
    font-size: 1.5em
    line-height: 1.5em

