body > section
  margin-left: 0.15em
  transition opacity 300ms

  &:not(.active)
    opacity: 0.6

  & > header
    & > button
      float: left
      margin: 0.6em

  & > article
    box-flex(1)
    padding: 1em
    font-family: "Monaco", "Courier New"
    font-weight: bold
    &.hidden
      display: none

  & > footer
    font-size: FONT_TINY
