nav[data-control="files"]
  display: inline-block
  & a
    display: block
    float: left
    padding: 0 0.85em
    height: HEADER_HEIGHT
    font-weight: bold
    transition color 300ms

    &:not(.active)
      font-size: FONT_TINY

    &.unsaved
      padding-right: 1.7em
      position: relative
      &:after
        content: "·"
        position: absolute
        right: 0.2em
        top: -0.05em
        font-size: 2.5em

    & .avatar
      float: left
      display: inline-block
      height: SIZE = (HEADER_HEIGHT - 8)
      width: SIZE
      background-size: cover
      margin: 4px 0.6em 0 -0.3em
      // opacity: 0.5
      // &.speaking
      //   opacity: 1


div[data-control="tree"]
  padding: 0 0 0.75em 0.75em
  font-size: 0.85em
  overflow: auto
  & nav
    padding-left: 1em
  & abbr, & span
    display: block
  & abbr
    font-weight: bold
  & span
    text-indent: 0.25em
    margin-left: 0.75em

